/* Reset defaults */
body, html {
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: beige;
  padding:15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  z-index: 1000;
}


.navbar-logo {
  color: maroon;
  font-size: 16px;
  font-weight: 900;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  font-weight: 900;
  margin: 0;              /* remove default ul margin */
  padding: 0;
  align-items: center;
  padding-right:15px;
}

.navbar-links li a {
  color: maroon;
  text-decoration: none; /* keep links clean */
  font-size: 14px;
  font-weight: 900;      /* <-- makes the text bold */
  transition: color 0.2s;
  display: inline-flex;  /* allows align-items to work */
  align-items: center;
}


.navbar-links li a:hover {
  color: #ff9800;
}
